<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Github login</title>
<a href = "https://github.com/login/oauth/authorize?client_id=01bd74491b2142e0a049"> Sign in with github </a>
</head>

<body>
  <script >

var myHeaders = new Headers();
myHeaders.append('Authorization', 'Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ0b2tlbl90eXBlIjoiYWNjZXNzIiwiZXhwIjoxNjE3ODI2MTYyLCJqdGkiOiJlYjkzMzRjZGI4MWI0OWM2YTUwNGU4ZDcxNWE5NmI3OSIsInVzZXJfaWQiOjF9.pMx12OYBz7B70xq5fzhWRT_Qg_KhKXJbw2yR6oeVHd0');
  </script>
</body>
</html>